# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules/
/react/node_modules/
/api/node_modules/
/react/.pnp
/react/.pnp.js

# testing
/react/coverage

# production
/react/build
/react/dist

# misc
/react/.DS_Store
/react/.env
/react/.env.local
/react/.env.production
/react/.env.development.local
/react/.env.test.local
/react/.env.production.local

/api/routes/config.py
/api/.env
/api/venv/
/api/ai-cache/
/api/roster-cache/
/api/player-cache/
/api/schedule-cache/
/api/standings-cache/
/api/stat-leaders-cache/

/api/*.log
/react/npm-debug.log*
/react/yarn-debug.log*
/react/yarn-error.log*
*.log
