.landing-header{
    text-align: center;
}
.row-scroller{
    overflow-x: auto;
    white-space: nowrap;
    display: block;
}
.row-scroller > .row-scroller-column{
    display: inline-block;
    float:none;
}
@media only screen and (min-width: 768px) {
    .landing-header{
        text-align: left;
    }
}