.landing-header{
    text-align: left;
}
.row-scroller{
    overflow-x: auto;
    white-space: nowrap;
    display: block;
}
.row-scroller > .row-scroller-column{
    display: inline-block;
    float:none;
}