.quick-links-btn {
    height: 4rem;
    width: 100%;
    border: solid;
    border-color: var(--color-text);
    margin-bottom: var(--space-sm);
}

@media only screen and (min-width: 768px) {
    .quick-links-btn {
        width: 15rem;
    }
}
