.container-fluid{
    border: solid;
    border-color: black;
}
.landing-header{
    text-align: left;
}
.quick-links-btn{
    height: 4rem;
    width: 15rem;
    border: solid;
    border-color: black;
}
.generic-block{
    height: 5rem;
    width: 15rem;
    border: solid;
    border-color: black; 
    margin-top:1rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    padding-right: 0.25rem;
}
.block-picture{
    float: left;
    border-right: solid;
    border-color: black;
}
.block-picture > img{
    height: 4.7rem;
}
.block-info{
    float: right;
}
.row-scroller{
    overflow-x: auto;
    white-space: nowrap;
    display: block;
}
.row-scroller > .row-scroller-column{
    display: inline-block;
    float:none;
}
.clear-div{
    clear: both;
}