.container-fluid{
    border: solid;
    border-color: black;
}
.landing-header{
    text-align: left;
}
.quick-links-btn{
    height: 4rem;
    width: 15rem;
    border: solid;
    border-color: black;
}
.generic-block{
    height: 4rem;
    width: 15rem;
    border: solid;
    border-color: black;
}
.block-picture{
    float: left;
}
.block-info{
    float: right;
}
.clear-div{
    clear: both;
}