.generic-block{
    height: 5rem;
    width: 15rem;
    border: solid;
    border-color: black; 
    margin-top:1rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    padding-right: 0.25rem;
}
.block-picture{
    float: left;
    border-right: solid;
    border-color: black;
}
.block-picture > img{
    height: 4.7rem;
}
.block-info{
    float: right;
}
.block-info > p{
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}